# Supabase Project Configuration
# Replace with your Supabase Project URL and Anon Public Key
VITE_SUPABASE_URL=https://msozshwatonyxnkaqjfs.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here

DATABASE_URL=postgresql://postgres:[PASSWORD]@db.msozshwatonyxnkaqjfs.supabase.co:5432/postgres?sslmode=require

